body{
	background: #ccc;
}

#principal{
	width: 800px;
	height: 10;
	border: 0px solid #000;
    margin: auto;

}

header{
 width: 300px;
 height: 100px;
 border: 1px solid #000;
 margin: auto;
}

#logo{
	width: 300px;
	height: 100px;
	border: 1px solid #000;
	text-align: center;
}

.titulo{
 margin-top: 22px;
 font-size:25px;
}

.sub-titulo{
	font-size:20px;
	margin-top: -20px;
	color: #572364;
}

.menu{
	width: 555px;
	height: 20px;
	border: 0px solid #000;
    background: #ccc;
	margin: auto;
	color: #572364;
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
	background: auto;
}

.menu ul li a{
	
	text-align: center;
	padding: 1px 2px;
	border:0px solid #000;
	color: #006699;
	transition: background 1s, color 1s;
}

#slide{
	margin-top: 45px;
	width: 890px;
	height: 180px;
	border: 5px solid #006699;
}

#categorias{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #ccc;
	margin-top: 15px;

}

.uno{
	width: 291px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: left;
	text-align: center;
	background: #FFF8DC;
	color: #572364;
}

.parrafo{
	color: #000;
}

.dos{
	margin-left: 10px;
	margin-right: 10px;
	color: #572364;
}

.leer-mas{
	text-decoration: 1px;
	border:1px solid #006699;
	padding: 20px 30px 20px 30px;
	margin: 10px;
}

.leer-mas: hover{
	background: #006699;
	color: #fff;
	transition: background 1s, color 1s;
}

#info{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin-top: 10px;
}

#izq{
	width: 585px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: left;
	padding:2px; color: #572364;
	background: #DEB887;
}

#der{
	width: 300px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: right;
	color: #572364;
	background: #DEB887;
}

#info{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin-top: 10px;
}

#tqm{
	width: 585px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: left;
	padding:2px; color: #572364;
	background: #DEB887;
	text-align: center;
}

#mom{
	width: 300px;
	height: auto; overflow: hidden;
	border: 1px solid #000;
	float: right;
	color: #572364;
	background: #DEB887;
}

footer{
	width: 900px;
	height: 100px;
	text-align: center;
}

#footer p{
	width: 500px;
}

.class1{
	width: 900px;
	height: 100px;
	text-align: center;
	background: #DEB887;
}

.class2{
	width: 900px;
	height: 100px;
	text-align: center;
	background: #DEB887;
}


#redessociales a{
	width: 795px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin-top: 10px;
	text-align: center;
}

#iconosSociales {
	width: 275px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	float: right;
	background: #DEB887;
	text-align: center;
}

